<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
	<f:section name="name">
		<label>Name</label>
		<f:form.textfield property="name" />
	</f:section>

	<f:section name="images">
		<label>Images</label>

		<f:for each="{example.images}" as="image" iteration="iterator">
			<p>
				<f:media file="{image.originalResource.originalFile}" />
				<f:form.checkbox name="imagesToRemove[]" value="{image.uid}" /><label>Remove</label>
			</p>
		</f:for>
		<p>
			<label>Upload new files:</label><f:form.upload name="imagesToAdd" multiple="TRUE" />
		</p>
	</f:section>
</html>